<!doctype html>
<html>

<div class="container">

    <head>
        <div class="main-head"><img src="/img/CSFLOGO.png" alt="my project logo" class="img-circle" style="width: 80px; height: 80px;">
        <script src="jquery-3.5.0.js"></script>
        <h1><b>CHARISMATIC STUDENT FELLOWSHIP</b></h1></div>
        <link rel="stylesheet" href="/bootstrap-3.3.7/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/grid.css">
        <title>My Project</title>
    </head>

    <body>
        {{{body}}}
    </body>

</div>
<script src="/bootstrap-3.3.7/dist/js/bootstrap.js"></script>
</html>