html{
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-areas: 
            'big-box1 big-box2';

    height: 50rem;
    padding: 3px;
    width: 100%;

}

.big-box1{
    background: green;
    display: grid;
    grid-template-rows: 10.2rem 1fr;
    text-align: center;
    width: 11rem;
}

.big-box2{
    background: blue;
    display: grid;
    grid-template-rows: 10.2rem 1fr;
    
}

.box1{
    background: red;
}

.box2{
    background: black;
    color: white;
}

.box3{
    background: pink;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box4{
    background: purple;
    padding-left: 3px;
}

@media(max-width: 700px){
    .container{
        display: grid;
        grid-template-areas: 
                        'big-box1'
                        'big-box2';
    }

    .big-box1{
        display: grid;
        text-align: center;
        width: 100%;
        grid-template-areas: 
                        'box1'
                        'box2';
    }
}